<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getPerson_id()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="birth_year">Enter year of birth: </label>
    <input type="text" th:field="*{birth_year}" id="birth_year">
    <div style="color: red" th:if="${#fields.hasErrors('birth_year')}" th:errors="*{birth_year}">Birth year error</div>
    <br/>

    <input type="submit" value="Update!">
</form>

</body>
</html>