<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBook_id()})}" th:object="${book}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title">
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
    <br/>
    <label for="author">Enter author's name: </label>
    <input type="text" th:field="*{author}" id="author">
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
    <br/>
    <label for="year_written">Enter the year of creation: </label>
    <input type="text" th:field="*{yearWritten}" id="year_written">
    <div style="color: red" th:if="${#fields.hasErrors('year_written')}" th:errors="*{yearWritten}">Year written error</div>
    <br/>

    <input type="submit" value="Update!">
</form>

</body>
</html>