<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
  <label for="title">Enter the book's title: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
  <br/>

  <label for="author">Enter the book's author: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
  <br/>

  <label for="year_written">Enter year of creation: </label>
  <input type="text" th:field="*{yearWritten}" id="year_written"/>
  <div style="color: red" th:if="${#fields.hasErrors('year_written')}" th:errors="*{yearWritten}">Creation year error</div>
  <br/>

  <input type="submit" value="Add!" />

</form>

</body>
</html>