<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form th:method="GET" th:action="@{/books/search/}">
    <label for="search-input">Enter the search query: </label>
    <input type="text" name="query" id="search-input"/>
    <br/>
    <input type="submit" value="Search">
</form>
<br/>
<div th:if="${foundBook.isEmpty()}">
    <p>No books were found</p>
</div>

<div th:if="${!foundBook.isEmpty()}" th:each="book : ${foundBook}">
    <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearWritten()}"></p>
    <div th:if="${book.getOwner() == null}">
        <p>This book is free to be assigned</p>
    </div>
    <div th:if="${book.getOwner() != null}">
        <p th:text="'This book is currently owned by: ' + ${book.getOwner().getName()}"></p>
    </div>
</div>

</body>
</html>