<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear_written()}">VALUE</p>

<div th:if="${owner}">
    <span>Book's current owner is: </span>
    <span th:text="${owner.getName()}">Person name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBook_id()})}">
        <input type="submit" value="Make free">
    </form>
</div>

<div th:if="${people}">
    <span>This book is free. Who will be it's next owner?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getBook_id()})}">
        <label for="person">Choose a person</label>
        <select th:object="${person}" th:field="*{person_id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPerson_id()}" th:text="${person.getName()}">
                </option>
        </select>
        <input type="submit" value="Assign">
    </form>
</div>


<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBook_id()})}">
    <input type="submit" value="Edit" />
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id() })}">
    <input type="submit" value="Delete" />
</form>
</body>
</html>